<?xml version="1.0"?>
<launch>

  <include file="$(find amv_service)/launch/station_service.launch" />
  <include file="$(find amv_service)/launch/station_plotting.launch" /> 

  <node pkg="amv_service" type="waypoint_recorder_test.py" name="waypoint_recorder_test" output="screen">
    <param name="frame_id" value="map" />
  </node> 

  <node pkg="amv_virtual_track" type="path_planner_node.py" name="path_planner_node" output="screen">
    <param name="station_csv"  value="$(find amv_service)/station/station_list_office.csv" />
    <param name="waypoint_csv" value="$(find amv_service)/station/waypoint_follower_list.csv" />
    <param name="frame_id"     value="map" />
    <param name="step_size"    value="0.05" />
  </node>

</launch>
